In [1]:
import numpy as np
import pandas as pd
import os
print os.getcwd()

C:\Users\shfun\GitHub

In [4]:
import xlrd
filename = 'data/member.xlsx'
dfs = pd.read_excel(filename)
dfs

       MemberName Gender
0      Alina Peng      F
1          Amy Ma      F
2       Ann01 Lin      F
3      Bryan Shen      M
4    Charlotte Wu      F
5   Chibean Cheng      M
6         Ed Wang      M
7    Harvey Huang      M
8    Helsina Chen      F
9     Irving Fong      M
10        Josh Li      M
11   Juhsun Chang      F
12      Mita Liao      F
13       Niyun Yu      F
14   Richard Chiu      M
15    Shawn Chien      M
16    Stanley Lin      M
17       Tina Fwu      F
18      Wenny Chu      F

In [5]:
def samplingStrongMember(gender, sample, filename):
    import numpy as np
    import pandas as pd
    import xlrd
        
    team_member = pd.read_excel(filename)
    #team_member_pd = pd.DataFrame([sub.split(',') for sub in team_member]) #already df type
    team_member_pd = team_member
    team_member_pd.columns= ['MemberName', 'Gender']

    memberCnt = team_member_pd.shape[0]
    team_member_pd['randNumCol'] = np.random.choice(memberCnt, memberCnt, replace=False)

    return team_member_pd, team_member_pd[team_member_pd['Gender'] == gender].sort_values(by = 'randNumCol')[:int(sample)]

In [6]:
class Sampling(object):

    def samplingStrongMember(self, gender, sample, filename):
        import numpy as np
        import pandas as pd
        import xlrd
        
        team_member = pd.read_excel(filename)
        #team_member_pd = pd.DataFrame([sub.split(',') for sub in team_member]) #already df type
        team_member_pd = team_member
        team_member_pd.columns= ['MemberName', 'Gender']

        memberCnt = team_member_pd.shape[0]
        team_member_pd['randNumCol'] = np.random.choice(memberCnt, memberCnt, replace=False)

        return team_member_pd, team_member_pd[team_member_pd['Gender'] == gender].sort_values(by = 'randNumCol')[:int(sample)]

In [8]:
import os
print os.getcwd()

s = Sampling()

k = 0
iteration = 1000

gender = 'M'
sample = '2'
show = '2'
filename = 'data/member.xlsx'

teamMemberInfo = s.samplingStrongMember(gender, sample, filename)[0]
teamMemberInfo['ResultCnt'] = 0
teamMemberInfo = teamMemberInfo[['MemberName', 'Gender', 'ResultCnt']].to_dict('records')

while(k < iteration):

    # sample loop start
    strongMemberResult = s.samplingStrongMember(gender, sample, filename)[1]

    for i in strongMemberResult['MemberName'].tolist():
        for j in range(len(teamMemberInfo)):
            if(i == teamMemberInfo[j]['MemberName']):
                teamMemberInfo[j]['ResultCnt'] = teamMemberInfo[j]['ResultCnt'] + 1
    # sample loop end

    k = k+1
    if(k == iteration):
        break

teamMemberInfo = pd.DataFrame(teamMemberInfo)[['MemberName', 'Gender', 'ResultCnt']]
teamMemberInfo[teamMemberInfo['Gender'] == gender].sort_values(by = 'ResultCnt', ascending=False)[:int(show)]

C:\Users\shfun\GitHub

     MemberName Gender  ResultCnt
7  Harvey Huang      M        248
3    Bryan Shen      M        241